<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <form action="http://localhost:3000/success" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key= "<%= key_id %>"
            data-amount="<%= amount %>" 
            data-currency="INR"
            data-order_id= "<%= order_id %>"
            data-buttontext="Pay with Razorpay"
            data-name="GPay Solution"
            data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
            data-image="https://example.com/your_logo.jpg"
            data-prefill.name="Gaurav Chinawale"
            data-prefill.email="gaurav.chinawale@example.com"
            data-theme.color="#F37254"
        ></script>
        <input type="hidden" custom="Hidden Element" name="hidden">
        </form>

</body>
</html>